<!-- Header HTML -->
<div class="topbar">
  <div class="topbar-container-left">
    <span class="topbar-text">Learn Stock Trading</span>
  </div>
  <div class="topbar-container-right">
      {% if name %}
        Not {{ name }}?
        <a href="/logout" class="topbar-link">Sign Out</a>
      {% elif request.path != '/login' and request.path != 'register' %}
        <a href="/login" class="topbar-link">Login</a>
        <a href="/register" class="topbar-link">Register</a>
      {% endif %}
  </div>
</div>
