#flaskalert {
    width: 50%;
    z-index: 5000;
    position: fixed;
    bottom: 0px;
    left: 25%;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px auto;
    text-align: center;
    border-radius: 25px;
}

.stock-show-background{
    background-color: mintcream;
    height:62vh;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.stock-view-graph{
    width: 70px;
    height: 100%;
}

.stock-width{
    width:40%;
    height: 62vh;
}

.stock-summary{
    display:flex;
    height:100%;
}

.color-one{
    background-color: whitesmoke;
    color:black;
}

.color-two{
    background-color: lightslategray;
}
.padding-top{
    margin-top:20px;
}

.welcome-stock-button
{
    border:0;
    padding: 15px 30px;
    border-radius:0px;
    margin-top:0px;
    margin-bottom:20px;
}

.welcome-stock-button:hover{
    background-color:#ffc4c4;
    color:white;
}

.welcome-header
{
    background-color: #A0CED9;
    display: flex;
    justify-content: center;

}

#button-blue{
    margin-top: 15px;
    float:left;
    width: 100%;
    border-style:none;
    cursor:pointer;
    background-color: #673C4F;
    color:white;
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 15px;
    font-weight:700;
}

#button-blue:hover{
    background-color:#83B5D1;
    color: white;
}


.form-container{
    background-color: #ffe4c4;
    padding:10px 20px 20px 20px;
    width:270px;
}

.closebtn {
  	margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#email {
    margin-bottom:5px;
}

#password {
    margin-bottom:5px;
}

#token {
    margin-bottom:5px;
}

.input-form-center{
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    margin-top:10px;
    margin-left:22%;
}

.grid-topbar{
    display:flex;
    position:sticky;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
}

.flex-container {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #59656F;
}

#right-topbar{
    width:20%;
    text-align:right;
}

#welcome-topbar{
    width:56%;
    text-align:left;
    padding-left:5%;
}

#far-right-topbar{
    width:20%;
    text-align:right;
    padding-right:5%;
}

.topbar {
  position: sticky;
  background-color: #59656F;
  top: 0px;
  width: 100%;
  overflow: hidden;
    height:50px;
}

.topbar-link {
  color: #F7EBEC;
   height:50px;
    padding: 20px 30px;
}

.topbar-link:hover {
  color: #F7EBEC;
    background-color:#0c5460;
}

.form-register-header{
    color:#59656F;
}

#form-register{
    margin-left: 42px;
}
#form-login{
    margin-left: 63px;
}


.welcome{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.duo-container{
    background-color: #ffe4c4;
    padding:10px 20px 20px 20px;
    width: 475px;
    height:400px;
    color:black;
    margin:auto;
    margin-top:5%;
}

#qrcode{
    margin:auto;
}

.center{
    margin:auto;
}

.register-flex{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.sub-flex{
    display:flex;
    flex-direction:row;
}

.welcome-button
{
    border: 0;
    padding: 15px 30px;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color:#FEFFA5;
    color: #F7EBEC;
    margin-left:15px;
}

.welcome-button:hover{
    background-color:#B0D7FF;
}

.no-underline-link a{
    text-decoration: none;
    margin: 15px 30px;
}

.right-align{
    margin-left:22%;
}

input{
    width:100%;
    margin-top: 5px;
    margin-bottom:2px;
}

.input-form{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    margin-top:3px;
}
