#flaskalert {
    width: 50%;
    z-index: 5000;
    position: fixed;
    bottom: 0px;
    left: 25%;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px auto;
    text-align: center;
    border-radius: 25px;
}

.closebtn {
  	margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.topbar {
  position: sticky;
  background-color: white;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

.topbar-container-left {
  text-align: left;
  float: left;
    padding: 5px;
}

.topbar-container-right {
    text-align: right;
    float: right;
    padding: 5px;
}
.topbar-text {

}

.topbar-link {
  padding: 5px;
  color: black;
}

.topbar-link:hover {
  color: grey;
}
