#button-buy {
    position: absolute;
    left: 2%;
}

#button-ticker {
    position: absolute;
    right: 40%;
    left: 40%;
}

#button-sell {
    position: absolute;
    right: 2%;
}

body {
    background-color: lightgreen;
}
