{% extends "layouts/base.html" %}
{% block title %}Buy Stock {{ticker}} {% endblock %}
{% block content %}
    {% if failure %}
        <div>Insufficient Funds you cannot spend {{cost}} because you only have {{cash_value}}</div>
      {% endif %}

    <div class="container">
        {{ticker}} costs {{stock_price}}, how many would you like to buy?

        {# Form for buying  #}
        <form action method="post">
            <div class="input text">
                <input id="quantity" name="quantity" required type="text" value=""/>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>

        <a href="../"><button id="button-buy" class="btn-primary">Return to View</button></a>
    </div>
{% endblock %}
