{% extends "layouts/base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
  <h1>Change Password</h1>
  <form action="/changepassword" method="POST">
      {{ form.hidden_tag() }}
      {{ form.currentpassword.label }} {{ form.currentpassword(size=20) }} <br>
      {% for error in form.currentpassword.errors %}
          <span class="field-errors">{{ error }}</span> <br />
          {% endfor %}
      {{ form.newpassword.label }} {{ form.newpassword(size=20) }} <br>
      {% for error in form.newpassword.errors %}
          <span class="field-errors">{{ error }}</span> <br />
          {% endfor %}
      {{ form.newpassword2.label }} {{ form.newpassword2(size=20) }} <br>
      {% for error in form.newpassword2.errors %}
          <span class="field-errors">{{ error }}</span> <br />
          {% endfor %}
      <input type="submit" value="Change Password">
  </form>
{% endblock %}
