<!-- Index Page -->
    {% extends "layouts/base.html" %}
    {% block title %}Welcome{% endblock %}
    {% block content %}
        <div class="welcome">
            <h1>Stock Trading 101</h1>
            <div class="welcome-link-content sub-flex">
                <div class="welcome-button"><a href="/register" class="no-underline-link">Register</a></div>
                <div class="welcome-button"><a href="/login" class="no-underline-link">Login</a></div>
            </div>
        </div>
    {% endblock %}