{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="register-flex">
    <div class="form-container form-register-header">
        <h1 id = "form-register">Login</h1>
        <a href="/register">Don't have an account? Sign up</a>
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email(size=20) }} <br>
            {{ form.password.label }} {{ form.password(size=20) }} <br>
            {{ form.token.label }} {{ form.token(size=6) }} <br>
            <div class="submit">
                <input type="submit" value="login" id="button-blue"/>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
