{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <a href="/register">Don't have an account? Sign up</a>
    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email(size=20) }} <br>
        {{ form.password.label }} {{ form.password(size=20) }} <br>
        {{ form.token.label }} {{ form.token(size=6) }} <br>
        <input type="submit" value="login">
    </form>
{% endblock %}
