{% extends "layouts/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1>Register</h1>
    <a href="/login">Already registered?</a>
    <form action="/register" method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email(size=20) }} <br>
        {{ form.firstname.label }} {{ form.firstname(size=20) }} <br>
        {{ form.lastname.label }} {{ form.lastname(size=20) }} <br>
        {{ form.password.label }} {{ form.password(size=20) }} <br>
        {{ form.ssn.label }} {{ form.ssn(size=20) }} <br>
        {{ captcha() }} <br>
        <input type="text" name="captcha"> <br>
        <input type="submit" value="Register">
    </form>
{% endblock %}
