{% extends "layouts/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="register-flex">
        <div class="form-container form-register-header">
            <h1 id = "form-register">Register</h1>
            <a href="/login" class = "right-align">Already registered?</a>
            <form name="registerForm" action="/register" method="POST">
                {{ form.hidden_tag() }}
                {{ form.email(size=20, placeholder = 'email') }}

                {% for error in form.email.errors %}
                    <span class="field-errors">{{ error }}</span>
                    {% endfor %}
                {{ form.firstname(size=20, placeholder='first name') }}
                 {{ form.lastname(size=20, placeholder = 'last name') }}
                 {{ form.password(size=20, placeholder = 'password') }}
                {% for error in form.password.errors %}
                    <span class="field-errors">{{ error }}</span>
                    {% endfor %}
                {{ form.password2(size=20, placeholder = 're-enter your password') }} <br>
                {% for error in form.password2.errors %}
                    <span class="field-errors">{{ error }}</span>
                    {% endfor %}
                {{ form.phonenumber(size=10, placeholder = 'phone number') }} <br>
                {% for error in form.phonenumber.errors %}
                    <span class="field-errors">{{ error }}</span>
                    {% endfor %}
                {{ form.ssn(size=20, placeholder = 'social security number') }} <br>

                {% for error in form.ssn.errors %}
                    <span class="field-errors">{{ error }}</span>
                    {% endfor %}
                {{ captcha() }}
                <input type="text" name="captcha" placeholder="captcha">
                <div class="submit">
                    <input type="submit" value="register" id="button-blue"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
