{% extends "layouts/base.html" %}
{% block title %}Sell {{ticker}} {% endblock %}
{% block content %}
    <div class="container">
        {{ticker}} costs {{stock_price}}, how many would you like to Sell?

        {# Form for Selling  #}
        <form action method="post">
            <div class="input text">
                <input id="quantity" name="quantity" required type="text" value=""/>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>

        <a href="../"><button id="button-buy" class="btn-primary">Return to View</button></a>
    </div>
{% endblock %}
