{% extends "layouts/base.html" %}
{% block title %}Sell {{ticker}} {% endblock %}
{% block content %}
    {% if failure %}
        {% if msg %}
            <div>{{msg}}</div>
        {% endif %}
    {% endif %}
    <div class="container">
        {{ticker}} costs {{stock_price}}, how many would you like to Sell?

        {# Form for Selling  #}
        <form action method="post">
            <div class="input text">
                <input type="number" id="quantity" name="quantity" placeholder="At least 1..." min="1" max="100" value="1"/>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>

        <a href="../"><button id="button-buy" class="btn-primary">Return to View</button></a>
    </div>
{% endblock %}
