<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap-grid.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap-reboot.css" rel="stylesheet" media="screen">
    <link href="/static/stock_view.css" rel="stylesheet" media="screen">


  </head>
  <body>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-md-5 align-content-center align-self-center">
                <a href="Buy/"><button id="button-buy" class="btn-primary">Buy</button></a>
            </div>
            <div class="col-md-2 align-content-center align-self-center">
                <button id="button-ticker" class="btn-danger">59.5</button>
            </div>
            <div class="col-md-5 align-content-center align-self-center">
                <a href="Sell/"><button id=button-sell class="btn-secondary">Sell</button></a>
            </div>
        </div>
        <br/> <br/>
        <div class="row">
            <iframe id="tradingview_36524" src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_36524&amp;symbol={{SYMBOL}}&amp;interval=D&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=E4E8EB&amp;studies=%5B%5D&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;utm_source=www.multicharts.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=SQ" style="width: 100%; height: 80%; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe>
        </div>
    </div>
  </body>
</html>