<html>
  <head>
    <title>Portfolio View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap-grid.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap-reboot.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
        <form action="/stocks/show/">
          Type a Stock Ticker:<br>
          <input type="text" name="ticker" value="">
          <br>
          <input class="btn-primary" type="submit" value="Submit"></button>
        </form>
    </div>
    <div class="container">
        <a href="{{ url_for('user.register') }}">Register</a>
        <a href="{{ url_for('user.login') }}">Login</a>
        <a href="{{ url_for('user.logout') }}">Logout</a>
    </div>
  </body>
</html>