<!-- Stock Home Page -->
{# Only Accessible when logged in #}
{% extends "layouts/base.html" %}
{% block title %}Portfolio View{% endblock %}
{% block content %}
  <div class="container">
      {% if failure %}
            <div>{{msg}}</div>
      {% endif %}


      {# Search Bar for Stocks #}
      <div class="row welcome-header">
          <form action="/stocks/show/">
            <input class="padding-top" type="text" placeholder="type a stock ticker: " name="ticker" value="">&nbsp;
            <input class="welcome-stock-button" type="submit" value="Submit"></button>
          </form>
      </div>

  <div class = "stock-summary">
          <div class="row stock-width color-one">
              <div class="buy-stock-header">
                  Sell {{ ticker }}
              </div>
              Total Account Value: {{ total_value | round(2) }}<br>
              Cash Account Value: {{ cash_value | round(2) }}<br>
              Stock Account Value: {{ portfolio_value | round(2) }}<br>
          </div>

          <div class="row stock-width color-two">
              Stock Breakdown:<br>
          </div>

          <div class="row stock-width color-one">Stock, Quantity, Avg_Cost</div>

          {% for stock in current_holdings %}
                  <div class="row">
                      {{ stock.stock_ticker }}, {{ stock.quantity }}, {{ stock.avg_cost | round(2) }}
                  </div>
          {%  endfor %}
  </div>
  </div>

    <div class="row">
        <a href="/bank/"><div class="buy-stock-button margin-top">View Banking Info</div></a>
        <br>
    </div>
{% endblock %}
